@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #111827;
    color: white;
    height: 100vh;
  }
}

.icons a {
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 10px;
}
